﻿@model ICollection<Employee>
@using OefeningenReeks8.Entities

<table>
    <tr>
        <th>voornaam</th>
        <th>naam</th>
        <th>jobtitel</th>
        <th>verkoopregio</th>
    </tr>
    @foreach (Employee emp in Model)
    {
        <tr>
            <td>voornaam</td>
            <td>naam</td>
            <td>@emp.JobTitle</td>
            <td>@emp.SalesPerson</td>
        </tr>
    }
</table>